<nav>
    <div class="header">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Projects</a></li>
            <li><a href="/">Photographs</a></li>
            <li><a href="/">Who do I think I am?</a></li>
        </ul>
        <!-- <a class="extra" href="/">Home</a> -->
    </div>
    <div class="footer">
        <div class="contact">
            <h3>Contact</h3>
            <p>
                Hexrays<br />
                <a href="mailto:jeffdphoto@gmail.com">jeffdphoto@gmail.com</a>
                <a href="http://github.com/hexrays/">github.com/hexrays</a><br />
                <a href="http://twitter.com/hexrays/">twitter.com/hexrays</a><br />
                <a href="http://instagram.com/hexrays">instagram.com/hexrays</a>
            </p>
        </div>
    </div>
</nav>